In [2]:
import pandas as pd

sr = pd.Series([100,200,300,400])
sr.index = ['A','B','O','AB']
sr

A     100
B     200
O     300
AB    400
dtype: int64

In [3]:
sr1 = pd.Series([10,20,30])
sr1

0    10
1    20
2    30
dtype: int64

In [4]:
df = pd.DataFrame({'키':[170,180,175],'몸무게':[65,78,70]})#DataFrame 생성
df.index = ['스파이더맨','닥터스트레인지','아이언맨']#인덱스 할당
df

           키  몸무게
스파이더맨    170   65
닥터스트레인지  180   78
아이언맨     175   70

In [5]:
df = pd.read_csv('scores.csv',encoding='cp949')#read_csv()는 파일 읽기 함수
df

        이름     국어   영어     수학
0     tony  100.0   90   95.0
1      sam   90.0   80   75.0
2   vision   95.0  100  100.0
3    peter  100.0  100  100.0
4    scott    NaN   35   60.0
5      tor   70.0   75   65.0
6    bruce   80.0   90   55.0
7     thor   50.0   60    NaN
8  steaven  100.0  100   90.0
9    wanda   90.0   95   70.0

In [6]:
df.head()#default값은 상위 5개

       이름     국어   영어     수학
0    tony  100.0   90   95.0
1     sam   90.0   80   75.0
2  vision   95.0  100  100.0
3   peter  100.0  100  100.0
4   scott    NaN   35   60.0

In [7]:
df.tail()#default값은 하위 5개

        이름     국어   영어    수학
5      tor   70.0   75  65.0
6    bruce   80.0   90  55.0
7     thor   50.0   60   NaN
8  steaven  100.0  100  90.0
9    wanda   90.0   95  70.0

In [8]:
df.sample(3)#랜덤하게 ()개 추출

      이름     국어   영어     수학
9  wanda   90.0   95   70.0
0   tony  100.0   90   95.0
3  peter  100.0  100  100.0

In [9]:
df.info()#DataFrame 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      10 non-null     object
 1   국어      9 non-null      float64
 2   영어      10 non-null     int64
 3   수학      9 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 448.0+ bytes

In [13]:
df.shape#DataFrame의 모양 튜플 반환

(10, 4)

In [12]:
len(df)#시퀀스 길이

10

In [14]:
df.isnull().sum()#결측값 표현

이름    0
국어    1
영어    0
수학    1
dtype: int64

In [15]:
df_dropna = df.dropna()#.dropna() 결측값제거 함수
df_dropna

        이름     국어   영어     수학
0     tony  100.0   90   95.0
1      sam   90.0   80   75.0
2   vision   95.0  100  100.0
3    peter  100.0  100  100.0
5      tor   70.0   75   65.0
6    bruce   80.0   90   55.0
8  steaven  100.0  100   90.0
9    wanda   90.0   95   70.0

In [17]:
df_fillna = df.fillna(50)#.fillna() 결측값 대체 함수
df_fillna

        이름     국어   영어     수학
0     tony  100.0   90   95.0
1      sam   90.0   80   75.0
2   vision   95.0  100  100.0
3    peter  100.0  100  100.0
4    scott   50.0   35   60.0
5      tor   70.0   75   65.0
6    bruce   80.0   90   55.0
7     thor   50.0   60   50.0
8  steaven  100.0  100   90.0
9    wanda   90.0   95   70.0

In [18]:
df.describe()#통계정보 요약

               국어          영어          수학
count    9.000000   10.000000    9.000000
mean    86.111111   82.500000   78.888889
std     16.914819   21.114766   17.638342
min     50.000000   35.000000   55.000000
25%     80.000000   76.250000   65.000000
50%     90.000000   90.000000   75.000000
75%    100.000000   98.750000   95.000000
max    100.000000  100.000000  100.000000

In [19]:
df['국어'].sum()#국어 행 합 출력

775.0

In [20]:
df.value_counts('영어') #영어의 원소 개수 출력

영어
100    3
90     2
35     1
60     1
75     1
80     1
95     1
dtype: int64

In [21]:
df['국어']#국어 행 슬라이스

0    100.0
1     90.0
2     95.0
3    100.0
4      NaN
5     70.0
6     80.0
7     50.0
8    100.0
9     90.0
Name: 국어, dtype: float64

In [23]:
df[['국어','영어']]#국어,영어 행 DataFrame으로 슬라이스

      국어   영어
0  100.0   90
1   90.0   80
2   95.0  100
3  100.0  100
4    NaN   35
5   70.0   75
6   80.0   90
7   50.0   60
8  100.0  100
9   90.0   95

In [24]:
df.loc[1]#인덱스로 행의 모든 열 추출

이름     sam
국어    90.0
영어      80
수학    75.0
Name: 1, dtype: object

In [26]:
df.loc[[1,2,3]]#인덱스로 여러행의 모든 열 추출

       이름     국어   영어     수학
1     sam   90.0   80   75.0
2  vision   95.0  100  100.0
3   peter  100.0  100  100.0

In [27]:
df.iloc[2]#시퀀스 접근 loc()함수

이름    vision
국어      95.0
영어       100
수학     100.0
Name: 2, dtype: object

In [28]:
df.iloc[1,3]

75.0

In [29]:
df.iloc[1:3,1:3]

     국어   영어
1  90.0   80
2  95.0  100